fastapi
uvicorn

langchain==0.2.11
langchain-community==0.2.10
langchain-groq
langchain-openai
langchain-text-splitters

faiss-cpu

pypdf
PyPDF2
bs4
arxiv
wikipedia
pandas
requests
python-dotenv

sqlalchemy
mysql-connector-python

huggingface_hub
langchain-huggingface

duckduckgo-search
validators==0.28.1
