langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
validators
youtube-transcript-api
pytube
langchain_huggingface
huggingface_hub
sqlalchemy
langchain==0.2.11
langchain-community==0.2.10
langchain-chroma==0.1.4
chromadb==0.5.3
fpdf
PyPDF2 
reportlab
requests>=2.31.0
